@model AnimeListViewModel

@foreach (var p in Model.Titles)
{
    <div class="card card-outline-primary m-1 p-1">
        <div class="p-1">
            <h3>@p.Name</h3>
            <h4>@Math.Round(p.Year, 0)</h4>
            <p>Жанр: @p.Category</p>
            <p class="card-text p-1">@p.Description</p>
        </div>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="Index" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-dark" page-url-category="@Model.CurrentCategory"
     class="btn-group pull-right m-1">
</div>